.header {
  margin: 45px 200px 0;
  min-height: 74px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1074px) {
  .header {
    margin: 45px 60px 0;
  }
}

@media screen and (max-width: 610px) {
  .header {
    margin: 28px 0 0;
    min-height: 56px;
  }
}
