.profile__author-subtitle {
  margin: 8px 0 0;
  max-width: 336px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 384px) {
  .profile__author-subtitle {
    max-width: 100%;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 14px 0 0;
  }
}
